<div id="supporting-content">
	<p class="team">
    	<a href="mailto:hitusup@propertyofbristol.co.uk">hitusup@propertyofbristol.co.uk</a>
  	</p>
	
  <p class="team">
    <span class="name">Tomasz Goodman</span><br />
    <span class="role">Founder</span>
    <a href="mailto:tom@propertyofbristol.co.uk">tom@propertyofbristol.co.uk</a>
  </p>
  
  <p class="team">
    <span class="name">Richard Windsor</span><br />
    <span class="role">Promoter / Resident</span>
    <a href="mailto:rich@propertyofbristol.co.uk">rich@propertyofbristol.co.uk</a>
  </p>

  <p class="team">
    <span class="name">Paddy Deas</span><br />
    <span class="role">Promoter / Resident</span>
    <a href="mailto:paddy@propertyofbristol.co.uk">paddy@propertyofbristol.co.uk</a>
  </p>

</div>
<div id="main-content">
  <p class="intro"><strong>Lorem ipsum dolor sit amet, consectetur  adipiscing elit. Pellentesque blandit nunc ac nisi sollicitudin faucibus.</strong></p>
  <img src="/images/about-photo.jpg" alt="pictuer of graf" class="content-image" />
  <a href="http://www.flickr.com/photos/propertyofbristol/" class="more-link">+ More Photos</a>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>