<div id="supporting-content">
	<a href="/events" id="sub-events">07.08.09 Basement 45 Takeover</a>
	<a href="http://www.facebook.com/home.php#/group.php?gid=58407869469&amp;ref=ts" id="sub-facebook">We're On Facebook</a>
	<a href="/shop" id="sub-shop">Screen Prints Original Artwork Cards &amp; T’s</a>
	<a href="http://www.myspace.com/propertyofbristol" id="sub-myspace">Myspace</a>
	<a href="http://www.dnbshare.com/download/ThePodcastVol.04.mp3.html" id="sub-podcasts">Property of Bristol Podcast - Vol. 4 - </a>
	
 <div class="tweet"></div>  
  
  
	<div id="side-add">
	 <img src="/images/side-add.gif" alt="add"/>
	</div>
</div>
<div id="main-content">

<p class="intro"><strong>Property of Bristol is committed to sinking its<br />fingers in all of your favourite Bristol pies... </strong>and<br />we want you along for the ride! We’re looking for bold creative types to <a href="/contact">get involved</a> ...all right and nice.</p>
<p class="latest">Latest activity&hellip;</p>
<!-- <a class="rss" href="/feeds">RSS Feeds</a> -->


<% entries.each do |entry| %>
<div class="post">
	<h2><%= entry.title %></h2>
	<div class="share-link">
	  <p>+ Share</p>
	  <ul>
       <li><a href="#">via Email</a></li>
       <li><a href="#">via delicious</a></li>
       <li><a href="#">via Facebook</a></li>
       <li><a href="#">via Stumble Upon</a></li>
       <li><a href="#">via Twitter</a></li>
	  </ul>
	</div>
	<p class="date"><%= entry.categories %> - <%= entry.published %></p>
	<p><%= entry.summary %></p>
</div>
<% end %>

</div>