#skip {display: none;}
/*eo: skip to content link hid*/

/* so:main-layout */
#wrapper, #footer-wrapper {
	width: 940px;
	margin: 0 auto;
}

#header {
	margin: 20px 0 10px 0;
}

#supporting-content{
	width: 240px;
	float: left;
	margin: 0 40px 0 0;
	padding-top:17px;
	
}

#main-content {
	width:550px ;
	float: left;
	position: relative;
	padding-top:17px;
}

#footer{
	clear: both;
	text-align: center;
	margin-top: 10px;
}

/*Header*/
#add-header {
	width: 477px;
	height: 77px;
	position: absolute;
	top: 20px;
	right: 108px;
}

#side-add{
	width: 124px;
	height: 615px;
	margin: 0 auto;
}



/*Navigation*/

.navigation {
	height: 54px;
	margin-bottom: 25px;
	position: relative;
}

#footer .navigation {
	margin-bottom: 15px;
}

.navigation ul li {
	float: left;
	margin-right: 17px;
}

a.contact-nav {
	position:absolute;
	right:52px;
	top:16px;
}

#content-area {clear: both;}

/*Supporting Content*/

#supporting-content a {
	display: block;
	margin-bottom: 30px;
}

#supporting-content p a {
	margin-bottom: 0px;
}

#supporting-content p.team {
	margin-bottom: 20px;
}

#supporting-content p.team a {
	display: inline;
}


/*main content */

#main-content p {
	clear: both;
}

#main-content p.intro {
	padding-right: 0px;
	padding-bottom:40px;
}

#main-content .post p {
	clear: none;
}


.post {
	margin-bottom:40px;
	padding-top:40px;
	clear: both;
}

#main-content p.date {
	padding: 9px 10px 10px 0;
	text-align: right;
	margin: 30px 0 20px 0;
}

a.rss {
	position: absolute;
	right: 36px;
	top: 178px;
}

img.content-image {
	margin-bottom: 20px;
	display: block;
}

a.more-link {
	display:block;
	float:left;
	margin-bottom:20px;
	padding:10px 10px 5px 5px;
}

.post-image {
	float: right;
}
/*footer*/
#footer p {
	clear: both;
}

p.catch {
	padding-bottom: 40px;
}

#footer .navigation li {height: 60px; margin-bottom: 20px;}


/* so:clearfix */

#page:after,
#wrapper:after,
.post:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both;
	visibility: hidden;
}

/* eo:clearfix */ 




/*Share link*/
div.share-link {position: relative; display: inline; float: right; margin-right: 20px; margin-top: 8px;}

div.share-link p {padding: 0;}

div.share-link ul {
	display: block;
	left: -1000000px;
	position: absolute;
	width: 140px;
	padding: 10px 0;
}

div.share-link:hover ul {
	right: 0;
	left: auto;
}

div.share-link ul li {
	padding: 0 10px;
	list-style-type: none;
}

#main-content div.share-link ul li a{ color: #fff; text-decoration: none;}

#main-content div.share-link ul li a:hover { color: #a7ffb1; text-decoration: none;}

div.share-link ul {
	background: #00e56c;
	color: #fff;
}