body{
	background: url(/images/bg-tile.jpg);
}

#page {
		background: url(/images/line-bg.gif) repeat-x 0 161px;
}

#header {
	position: relative;
}

#footer {
	background:transparent url(/images/line-bg.gif) repeat-x scroll 0 0;
}

/*Navigation*/
.navigation ul li {
	list-style-type: none;
}

/*links*/
a{color:#00fff6; text-decoration: underline;}
a:hover{text-decoration: none;}

#footer p a{text-decoration: none;}
#footer p a:hover{text-decoration: underline;}

#supporting-content a, p.intro a {color: #ff0000;}

a.more-link {
	background: #00e56c;
	color: #fff;
	text-decoration: none;
	display: inline;
}

p.team a, p.intro a {
	text-decoration: none;
	border-bottom: solid 1px red;
}

p.team a:hover, p.intro a:hover {
	text-decoration: none;
	border-bottom: none;
	padding-bottom: 1px;
}

h2 a {
	color: #000; text-decoration: none;
}

/*header*/

#add-header {
	background: url(/images/add-bg.gif) no-repeat top left;
}

#side-add{
	background: url(/images/side-add-bg.gif) no-repeat top left;
}


/*Main Content*/

#main-content h1, #main-content h2 {
	color: #000;
}

.post {background: url(/images/top-line.gif) 0 top no-repeat;}

#main-content p.date {color: #fff; background: url(/images/date-bg.gif) no-repeat 0 0; text-align: right; }

#main-content {
	color: #7f7853;
}

#main-content p.intro {
	color: #000;
}


/*footer*/
a.facebook{color: #4e6ea5;}
a.myspace{color: #24579a;}
a.flickr{color: #187cde;} a.flickr span{color: #f04694;}
a.youtube{color: #000;} a.youtube span{color: #f00;}
a.twitter{color: #3dd9f0;}

p.copy, p.copy a {color: #b9b398}

/* Background Image Replacement */

#header h1 a,
a#sub-events,
a#sub-facebook,
a#sub-shop,
a#sub-myspace,
a#sub-podcasts,
a.home-nav,
p.latest,
a.rss,
a.contact-nav,
.navigation li a,
div.share-link p {
	text-indent: -1000em;
	overflow: hidden;
	text-align: left;
	display: block;
}

p.latest{
	width: 551;
	background:transparent url(/images/latest.gif) no-repeat scroll 0 -14px;
	height:4px;
	margin-bottom:7px;
}

a.rss{
	width: 89px;
	height: 33px;
	background: url(/images/rss.gif) no-repeat 0 0;
}

a.rss:hover{
	background-position: 0 -33px;
}

#header h1 a{
	width: 221px;
	height: 141px;
	background: url(/images/logo.jpg) no-repeat 0 0;
}

div.share-link p {
	width: 100px;
	height: 30px;
	background: url(/images/share-button.gif) no-repeat 0 -37px;
}

div.share-link:hover p {
	background-position: 0 0;
}

.navigation li a.contact-nav {
	width: 113px;
	height: 113px;
	background: url(/images/contact-nav.gif) no-repeat 0 0;
}

.navigation li a {
	height: 56px;
	background: url(/images/menu.jpg) no-repeat 0 0;
}

.navigation li a.latest-nav {width:76px; background-position: 0 0;}
.navigation li a.about-nav {width:69px; background-position: -92px 0;}
.navigation li a.events-nav {width:81px; background-position: -182px 0;}
.navigation li a.shop-nav {width:55px; background-position: -282px 0;}
.navigation li a.podcasts-nav {width:192px; background-position: -357px 0;}

.navigation li a.latest-nav:hover {width:76px; background-position: 0 -60px;}
.navigation li a.about-nav:hover {width:69px; background-position: -92px -60px;}
.navigation li a.events-nav:hover {width:81px; background-position: -182px -60px;}
.navigation li a.shop-nav:hover {width:55px; background-position: -282px -60px;}
.navigation li a.podcasts-nav:hover {width:192px; background-position: -357px -60px;}

.navigation li a.latest-nav {width:76px; background-position: 0 0;}
.navigation li a.about-nav {width:69px; background-position: -92px 0;}
.navigation li a.events-nav {width:81px; background-position: -182px 0;}
.navigation li a.shop-nav {width:55px; background-position: -282px 0;}
.navigation li a.podcasts-nav {width:192px; background-position: -357px 0;}








a#sub-events,
a#sub-facebook,
a#sub-shop,
a#sub-myspace,
a#sub-podcasts {
	width:  240px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

a#sub-events {background-image: url(/images/sidebar/event.jpg); height: 238px;}
a#sub-facebook {background-image: url(/images/sidebar/facebook.jpg); height: 64px;}
a#sub-shop {background-image: url(/images/sidebar/shop.jpg); height: 235px;}
a#sub-myspace {background-image: url(/images/sidebar/myspace.jpg); height: 64px;}
a#sub-podcasts {background-image: url(/images/sidebar/podcast.jpg); height: 170px;}